<body style="background-color:rgb(139, 134, 134);">
    <style>
             .button {
  background-color: #112846;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button2 {border-radius:50%;}

</style>

    <form action="/verifica-autentificare" method="post">
    <label ><h1 style="color: #31049b;  align-content: center">Utilizator:</h1></label>
    <input type="text"  name="utilizator">

    <label ><h1 style="color:#31049b;  align-content: center">Parolă:</h1></label>
    <input type="password" name="parola" >

    </br>
    </br>
    </br>
    <input class="button button2" type="submit" value="Log In" />
    </form>
    
</body>