<body style="background-color:rgb(139, 134, 134);">
    <style>
                       .title {
          font-family: "Lucida Console", "Courier New", monospace;
          font-size: 30px;
          color: rgb(28, 79, 138);
          text-shadow: 4px 4px 6px #000000;
      }
        .button {
background-color: #112846;
border: none;
color: white;
padding: 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}
.button2 {border-radius:50%;}

    </style>

    <p class="title">Sold Insuficient</p>
</br>
</br>
</br>
<form action="/index" method="GET">
    <input class="button button2" type="submit" value="Inapoi">
</form>
</body>