<body style="background-color:rgb(139, 134, 134);">
    <style>
                .centered{
          display: block;
          margin-left: auto;
          margin-right: auto;
      }
               .title {
          font-family: "Lucida Console", "Courier New", monospace;
          font-size: 30px;
          color: rgb(28, 79, 138);
          text-shadow: 4px 4px 6px #000000;
      }
          .button {
  background-color: #112846;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button2 {border-radius:50%;}

    </style>
    </br>
    </br>
    <p class="centered title">Bine ati venit la MultiBet Casino!</p>
</br>
    <p>Alegeti jocul dorit:</p>
</br>

<form action="/casinoR" method="GET">
    <input class="centered" type="image" src="/images/joc1.jpg" name="submit"  alt="submit" class="centered"/>
</form> 
</br>
</br>
<form action="/casinoR" method="GET">
    <input class="centered" type="image" src="/images/joc2.jpg" name="submit"  alt="submit" class="centered"/>
</form> 
</br>
</br>
<form action="/casinoR" method="GET">
    <input class="centered" type="image" src="/images/joc3.jpg" name="submit"  alt="submit" class="centered"/>
</form> 
</br>
</br>
<form action="/casinoR" method="GET">
    <input class="centered" type="image" src="/images/joc4.jpg" name="submit"  alt="submit" class="centered"/>
</form> 
</br>
</br>
</br>
</br>
<form action="/index" method="GET">
    <input class="centered button button2" type="submit" value="Inapoi">
</form>
</br>
</br>


</body>