<body style="background-color: rgb(139, 134, 134);">
    <style>
                      .title {
          font-family: "Lucida Console", "Courier New", monospace;
          font-size: 30px;
          color: rgb(28, 79, 138);
          text-shadow: 4px 4px 6px #000000;
      }
        .button {
background-color: #112846;
border: none;
color: white;
padding: 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
display: block;
          margin-left: auto;
          margin-right: auto;
}
.button2 {border-radius:50%;}
.centered{
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 35%;
      }
    </style>
<p class="title">Despre Pariuri</p>
</br>
</br>
<p>Pariurile sportive sunt în general o activitate de prezicere a rezultatelor sportive prin punerea unei mize pe eventualul rezultat al unui eveniment sportiv. Dintre toate jocurile de noroc, legalitatea și acceptarea generală a pariurilor sportive variază de la națiune la națiune și chiar de la regiune la regiune în cadrul aceleași țări.</p>
<p> Legea din 1994 cu privire la Protectia Sportului Profesionist și Amator din SUA, interzice desfășurarea operațiunilor de “pariuri ” pe întregul teritoriu al Statelor Unite ale Americii cu excepția statelor: Delaware, Nevada și Oregon. Dintre acestea, doar în statul Nevada se permite efectuarea de “pariuri sportive”. În multe țări din Europa activitatea de acceptare a pariurilor sportive este foarte bine reglementată și este privită ca o activitate onestă. Partizanii pariurilor sportive privesc această activitate ca un hobby pentru fanii sportivi cărora le crește interesul prin efectuarea de pariuri pe anumite echipe, evenimente sportive sau jucători și astfel crește publicul spectator și telespectator. Oponenții pariurilor sportive se tem că în spatele acestor argumente se amenință integritatea sportului amator și profesionist, prin existența a numeroase încercări reușite de „meciuri aranjate”. Cu toate acestea partizanii susțin faptul că toate casele de pariuri autorizate luptă împotriva corupției la fel de intens ca și organele guvernamentale și cele de aplicare a legii. Pe termen lung majoritatea pariorilor pierd iar casele de pariuri câștigă. Cu toate acestea există și pariori profesioniști care reușesc să-și facă un venit considerabil din activitatea de pariuri sportive.</p>
</br>
</br>
<img class="centered" src="images/tabel.png" alt="tabel">
</br>
</br>

<h2>Tipuri de pariuri</h2>

<p>Pariuri live
    <p>Pariurile live sunt acele pariuri care sunt puse în perioada de desfășurare efectivă a evenimentului. Ele se mai numesc 'in-running bets', 'live betting', sau 'in-play betting'. Aceste tipuri de pariuri sportive au apărut pe piață doar în ultimii ani și le putem găsi doar la câteva case de pariuri din lume (de ordinul zecilor). În general la pariurile live se alege un pronostic simplu pe care se pariază. Deși termenul de 'live' se poate traduce cu 'pe viu', în mod practic nici o casă de pariuri nu oferă pariuri 'live' în adevăratul sens al cuvântului. Din momentul în care solicitați să vi se valideze pariul și până în momentul în care pariul dumneavoastră este acceptat de casa de pariuri trece un anumit 'timp de latență' în general cuprins între 4 și 8 secunde. Dacă în acest interval de timp nu se întâmplă nimic important în desfășurarea meciului, nu scade sau nu crește cota, aveți șanse ca pariul dvs. să fie acceptat. Unele case dau posibilitatea de acceptare a pariului (a mizei), și în cazul în care se schimbă cota, validându-se la ultima cotă (care poate fi diferită decât cea aleasă de dvs.). Pe parcursul desfășurării diferitelor tipuri de evenimente sportive există anumite perioade în care oferta de cote este blocată de casa de pariuri și nu se pot pune pariuri (ex. tenis, fotbal etc.). În general la evenimentele sportive în care se marchează un număr mare de puncte aceste blocări de cote sunt mai rare (ex. baschet, handbal etc.). În cazul pariurilor live pariorul are avantajul că poate vedea desfășurarea meciului la televizor (sau pe teren). Totuși acest avantaj nu se poate ridica niciodată la nivelul caselor de pariuri, care pe lângă faptul că primește infomația 'live' despre desfășurarea meciului mai repede decât un parior obișnuit (transmisiuni real-time, folosirea transmisiunilor TV terestre în locul celor via satelit, oameni detașați la meciuri), mai are câte un om specializat (bookmaker) care dirijează toate informațiile primite, printre care și mizele și cotele puse până la momentul respectiv.</p>
    
    <p>Pariuri clasice</p>
    <p>Pariurile clasice sunt acele pariuri care se pot pune doar înaintea începerii efective a evenimentului. Aceste tipuri de pariuri sportive se pot plasa fie la o casă de pariuri online prin intermediul internetului, fie la agenții de pariuri unde se plătește cu bani cash, primindu-se în schimb un tichet cu pariul ales. Avantajul major la aceste tipuri de pariuri este dat prin prisma mizei maxime ce se poate pune pentru un pariu simplu. Dacă la pariurile live, mizele maxime admise nu depășesc în general valoarea a câtorva sute de dolari, la pariurile clasice aceste sume maxime riscate pot fi de cel puțin 10 ori mai mare.</p>
    
    <p>Dacă ne referim la felul pariului ce se poate alege, se evidențiază în mod special 3 tipuri de pariuri și anume: pariuri directe, pariuri cu handicap și pariuri de total.</p>
    
    <p>Pariuri directe</p>
    <p>Pariurile directe sunt acele pariuri prin care se alege câștigătorul partidei sau egalitatea la încheierea timpului regulamentar de joc. Fiecare casă de pariuri își definește timpul regulamentar de joc pentru diferite sporturi conform unor reguli proprii. Timpul regulamentar de joc diferă la multe dintre casele de pariuri în general pentru fotbal, baschet și hochei pe gheață.</p>
    
    <p>Pariuri cu handicap</p>
    <p>    Pariurile cu handicap sunt acele pariuri prin care se acordă un avantaj de puncte (sau subunități de puncte) echipei considerată de către casa de pariuri a fi în dezavantaj asfel încât cotele să fie echilibrate în jurul cotei de 2.00. Acesta cuantificare a dezavantajului poate să depindă de mai mulți factori cum ar fi: rezultatele statistice obținute de echipe în ultima perioadă; accidentările suferite de jucători importanți din echipe; dezechilibru major în sumele total pariate pe echipele combatante. În oferta caselor de pariuri există oferte de pariuri cu handicapuri europene și oferte de pariuri cu handicapuri asiatice. Handicapul European este un caz particular al Handicapului Asiatic prin faptul că este cu punct întreg și cu trei variante posibile.
    </p>    
<form action="/home" method="get">
    <input class="button button2" type="submit" value="Inapoi">
  </form>
  

</body>