<body style="background-color:rgb(139, 134, 134);">
    <style>
         .button {
  background-color: #112846;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button2 {border-radius:50%;}
         .title {
          font-family: "Lucida Console", "Courier New", monospace;
          font-size: 40px;
          text-align: center;
          color: rgb(0, 90, 192);
          text-shadow: 4px 4px 6px #000000;
      }
        .progress1 {
 height:52px;
 width:500px;
 border:2px solid #000;
 text-align:center;
 color:#fff;
 font-size:20px;
 background:linear-gradient(to right, red 20%, red 20%, yellow 50%,yellow 50%,blue 60% ,blue 0);
}
.progress2 {
 height:52px;
 width:500px;
 border:2px solid #000;
 text-align:center;
 color:#fff;
 font-size:20px;
 background:linear-gradient(to right, red 40%, red 30%, yellow 50%,yellow 50%,blue 30% ,blue 0);
} 
.progress3 {
 height:52px;
 width:500px;
 border:2px solid #000;
 text-align:center;
 color:#fff;
 font-size:20px;
 background:linear-gradient(to right, red 30%, red 30%, yellow 50%,yellow 50%,blue 40% ,blue 0);
} 
.progress4 {
 height:52px;
 width:500px;
 border:2px solid #000;
 text-align:center;
 color:#fff;
 font-size:20px;
 background:linear-gradient(to right, red 25%, red 25%, yellow 50%,yellow 50%,blue 50% ,blue 0);
} 
    </style>
    <p class="title">Statistici</p>
    <h1>PSG - Real Madrid</h1>
    <div class="progress1"></div>
    <p>1-<span style="color:red">rosu</span> egal- <span style="color:yellow">galben</span> 2- <span style="color:blue">albastru</span></p>
    <h1>Bayern M. - Atletico Madrid</h1>
    <div class="progress2"></div>
    <p>1-<span style="color:red">rosu</span> egal- <span style="color:yellow">galben</span> 2- <span style="color:blue">albastru</span></p>
    <h1>Barcelona - Celtic</h1>
    <div class="progress3"></div>
    <p>1-<span style="color:red">rosu</span> egal- <span style="color:yellow">galben</span> 2- <span style="color:blue">albastru</span></p>
    <h1>Liverpool - Lyon</h1>
    <div class="progress4"></div>
    <p>1-<span style="color:red">rosu</span> egal- <span style="color:yellow">galben</span> 2- <span style="color:blue">albastru</span></p>

    <form action="/index" method="GET">
        <input class="button button2" type="submit" value="Inapoi">
    </form>
    

</body>