
<body style="background-color: rgb(139, 134, 134);">
    <style>
        .title {
          font-family: "Lucida Console", "Courier New", monospace;
          font-size: 40px;
          text-align: center;
          color: rgb(0, 90, 192);
          text-shadow: 4px 4px 6px #000000;
      }
      .title2 {
          font-family: "Lucida Console", "Courier New", monospace;
          font-size: 15px;
          text-align: center;
          color: rgb(57, 138, 231);
          text-shadow: 4px 4px 6px #000000;
      }
        .centered{
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 35%;
      }
      .button {
  background-color: #112846;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  display: block;
          margin-left: auto;
          margin-right: auto;
          width: 15%;
}
.button2 {border-radius:50%;}
    </style>
    <p class="title">MultiBet</p>
    <p class="title2">Site-ul tau de pariuri online</p>
    </br>
    </br>
    <img src="/images/home.png" alt="indexpic"  class="centered"> 
    </br>
    </br>
    </br>
    </br>
    <form action="/despre" method="GET">
      <input class="button button2" type="submit" value="Despre Pariuri">
  </form>
  </br>
  </br>
    <form action="/autentificare" method="GET">
        <input class="button button2" type="submit" value="Log In">
    </form>
    </br>
    </br>
    <form action="/inregistrare" method="GET">
      <input class="button button2" type="submit" value="Sign Up">
    </form>
    
    
    
    
    
    </body>
    