<body style="background-color:rgb(139, 134, 134);">
    <style>
               .button {
  background-color: #112846;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button2 {border-radius:50%;}
    </style>
<form action="/logout" method="get">
        <input style="background-color: #96b4d6;" type="submit" value="LogOut">
  </form>
</br>
</br>
</br>
</br>
  <form action="/lotto" method="get">
    <input class="button button2" type="submit" value="Lotto">
  </form>
</br>
</br>
</br>
<form action="/fotbal" method="get">
    <input class="button button2" type="submit" value="Fotbal">
  </form>
</br>
</br>
</br>
<form action="/tenis" method="get">
    <input class="button button2" type="submit" value="Tenis">
  </form>
</br>
</br>
</br>
  <form action="/casino" method="get">
    <input class="button button2" type="submit" value="Casino">
  </form>
</body>