<body style="background-color:rgb(139, 134, 134);">
    <style>
        input[type=text], select {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }
        
        input[type=submit] {
          width: 100%;
          background-color: #0c207a;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }
        
        input[type=submit]:hover {
          background-color: #45a049;
        }
        
        div {
          border-radius: 5px;
          background-color: #f2f2f2;
          padding: 20px;
        }
        </style>
        <div>
            <form>
              <label for="fname">Prenume:</label>
              <input type="text" id="fname" name="firstname" placeholder="Prenumele tau..">
          
              <label for="lname">Nume</label>
              <input type="text" id="lname" name="lastname" placeholder="Numele tau..">
          
              <label for="country">Tara</label>
              <select id="country" name="country">
                <option value="australia">Romania</option>
                <option value="canada">Ucraina</option>
                <option value="usa">Rusia</option>
              </select>
              <label for="cnp">CNP</label>
            </br>
              <input type="number" id="cnp" name="cnp" placeholder="CNP-ul tau..">
            </br>
        </br>
              <label for="uname">Nume Utilizator:</label>
              <input type="text" id="uname" name="username" placeholder="Username-ul tau..">

              <label for="psw">Parola:</label>
              <input type="password" id="psw" name="pswd" placeholder="Parola ta..">
              

          
            </br>
            </br>
            </form>
            <form action="/home" method="GET">
              <input type="submit" value="Creeaza Cont">
            </form>
          </div>

</body>